

  #rashmi{
    height: 100px;
    width: 455px;
    background-image: url(img/satyam.jpeg);
    border: 2px solid red;
    background-repeat: no-repeat;
    background-position: center;
}



